body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#formulario, #logged-in {
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, button, select {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#eleccionMenu {
  margin-bottom: 20px;
}

#calculoPromedio, #operacionesMatematicas {
  display: none;
  margin-top: 20px;
}

.nota-input {
  margin-bottom: 10px;
}

#notasContainer {
  margin-bottom: 10px;
}

#logoutBtn {
  background-color: #e74c3c;
  margin-top: 10px;
}
